
/*********************
                     |
    ------------     |
    |   FONT   |     |
    ------------     |
                     |
*********************/

@font-face {
    font-family: cooperBlack;
    src: url(assets/font/CooperBlack/Cooper_Black_Regular.ttf);
}

@font-face {
    font-family: L10;
    src: url(assets/font/L10/L10_Regular.ttf);
}




html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F7E9DD;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}



/*********************
                     |
    ------------     |
    |   NAV    |     |
    ------------     |
                     |
*********************/
/* smaller nav bar text and add padding on tablets + */
@media (min-width: 768px) {
    .wfi-menu-items{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: small;
    }   
}
.donate-button {
    font-family: L10;
    font-size: small;
    width: 128px;
    background-color: black;
    color: white;
}





/*********************
                     |
    ------------     |
    |   HERO   |     |
    ------------     |
                     |
*********************/
.hero-section{
    /* height: auto; */
    width: 100%;
    position: relative;
}

.hero-bg{
    width: 100%;
    height: auto;
    z-index: -99;
    /* background-image: url('assets/images/background/drawable-xxhdpi/bg.png');     */
    
}

.hero-txt{
    display: none;
    color: white;
    position: absolute;
    top: 20%; /* from top of image */
    padding-left: 3rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt > p { 
    font-size: small;
    opacity: 75%;
}

.hero-btn{
    color: black;
    font-family: L10;
    font-size: small;
    background-color: white;
}

.hero-txt-mobile{
    display: block;
    color: #333333;
    padding-left: 3rem!important; /* bs: pl-5*/
    padding-top: 3rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt-mobile > p { 
    font-size: x-small;
    opacity: 75%;
}

.hero-btn-mobile{
    background-color: #232323;
    color: white;
    font-size: small;
}

/* MEDIA QUERIES: tablets and desktops, less than 1200px */
@media (min-width: 768px) 
{
    .hero-txt{
        display: block;
    } 
    .hero-txt-mobile{
        display: none;
    } 
}

/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |  MISSION  |     |
    -------------     |
                      |
***********************/

.mission-section{
    /* overflow: hidden; */
    position: relative;
    width: 100%;

}

.mission-bg{
    position: relative;
    height:                 100%;
    width: 100%;
}
.mission-shape-1{
    position: absolute;
    top: -164px;
    left: -140px;
    width: 395px;
    z-index: -99;
    display: none;
}

.mission-shape-2-tablet{
    position: relative;
    text-align: center;
    display: none;
}

.mission-shape-2-tablet > img{
    /* img-fluid */
    height: 215px;
    width: 40%;
    padding-top: 3rem!important;
}

.mission-shape-2-mobile{
    position: relative;
    text-align: center;
}

.mission-shape-2-mobile > img{
    /* img-fluid */
    height: 275px;
    transform: rotate(10deg);
}

.mission-txt-tablet{
    display: none;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: L10;
    text-align: center;
}

.mission-txt-tablet > p {
    font-size: small;
    width: 70%;
}

.mission-txt-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    font-family: L10;
    text-align: center;
}

.mission-txt-mobile > p {
    font-size: small;
}

/* MEDIA QUERIES: MISSION SECTION */
@media (min-width: 768px) {
    .mission-shape-1{display: block;}
    .mission-shape-2-tablet{display: block;}
    .mission-shape-2-mobile{display: none;}
    .mission-txt-mobile{display:none;}
    .mission-txt-tablet{display: block;}
}


/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |  PILLARS  |     |
    -------------     |
                      |
***********************/

.pillars-section{
    /* overflow: hidden; */
    position: relative;
    width: 100%;   
    margin-top: 9rem;
}

.pillars-title{
    position: absolute;
    top: -85px;
    width: 100%;
    text-align: center;
}

.pillars-bg-mobile{
    height: auto;
    position: relative;
    background-image: url(assets/images/background/drawable-xhdpi/mission-bg-mobile.png);
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 4rem;
    background-repeat: no-repeat;
    /* background-size: 140%; */
    background-size: cover;
    
}

/* CARDS */
.pillars-cards{
    position: relative;
    /* top: -5%; */
}

/* INDIVIDUAL CARD */
.pillars-card{
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 3rem!important;

    border-radius: 8%;
    border: 0;

    width: 20rem;
    overflow: hidden;
}

.pillars-card-top{
    background-color: #232323;
    height: 10rem;
    position: relative;

    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */

}

/* card icon */
.pillars-card-top > img{
    /* 
        width: 24%;
        height: 150px; 
    */
    width: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.pillars-card-body{
    background-color: #F7E9DD;
    height: 17rem;
    text-align: center;
    position: relative;
}

.pillars-card-body-content{
    position: absolute;
    width: 100%;
    height: 100%;
    /* my-5 */
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-title {
    margin-bottom: 1.75rem;
}

/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |    TEAM   |     |
    -------------     |
                      |
***********************/

.team-section{

}

.team-title{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.team-cards{
    /* background-color: white;
    opacity: 30%; */
    position: relative;
}

.team-card-container{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;

}
.team-card{
    background-color: white;
    width: 100%;
    height: 9rem;
    border-radius: 5%;
}

.team-card-picture{
    margin: auto!important;

}
.team-card-text{
    margin-bottom: auto!important;
    margin-top: auto!important;
    padding-bottom: 1.5rem!important;
}

.team-card-name{
    color:#333333;
    font-size: smaller;
}

.team-card-title{
    color: #666666;
    font-size: x-small;
}

/* .mission-shape-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

/* tablets and desktops, less than 1200px */
/* @media (min-width: 768px) and (max-width: 1199.98px) 
{  */
    /* show bg  */
    /* .mission-bg{ display: block; } 
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

