
/*********************
                     |
    ------------     |
    |   FONT   |     |
    ------------     |
                     |
*********************/

@font-face {
    font-family: cooperBlack;
    src: url(assets/font/CooperBlack/Cooper_Black_Regular.ttf);
}

@font-face {
    font-family: L10;
    src: url(assets/font/L10/L10_Regular.ttf);
}

/*********************
                     |
    ------------     |
    |  SHARED  |     |
    ------------     |
                     |
*********************/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F7E9DD;

    font-family: L10;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

/* bigger titles on tablet + */
@media (min-width: 768px){
    .wfi-titles{
        font-size: 2rem;
    }

}


/*********************
                     |
    ------------     |
    |   NAV    |     |
    ------------     |
                     |
*********************/

.wfi-logo{
    font-family: cooperBlack;
}

.navbar-toggler{
    border: none;
}
.donate-button {
    font-family: L10;
    font-size: small;
    width: 128px;
    background-color: black;
    color: white;
}

/* smaller nav bar text and add padding on tablets + */
@media (min-width: 768px) {

    .navbar{
        min-height: 6rem;
    }

    .wfi-menu-items{
        padding-left: 3.5rem;
        padding-right: 1.5rem;
        font-size: small;
        margin-left: auto!important;
        margin-right: auto!important;
    }   

    .wfi-logo{
        padding-left: 6rem;
        font-size: xx-large;
    }

    .donate-button{
        font-size: xx-small;
        width: 6rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* fixing donate button for regular IPAD */
@media (min-width: 768px)  and (max-width: 991.98px){
    .donate-button{margin-left: 3.5rem;}
}

/* @media (min-width:992px){
    .wfi-menu-items-container{
        margin-left: 3rem!important;
    }
} */

/*********************
                     |
    ------------     |
    |   HERO   |     |
    ------------     |
                     |
*********************/
.hero-section{
    /* height: auto; */
    width: 100%;
    position: relative;
}

.hero-bg{
    width: 100%;
    height: auto;
    z-index: -99;
    /* background-image: url('assets/images/background/drawable-xxhdpi/bg.png');     */
    
}

.hero-txt{
    display: none;
    color: white;
    position: absolute;
    top: 20%; /* from top of image */
    padding-left: 3rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt > p { 
    font-size: small;
    opacity: 75%;
}

.hero-btn{
    color: black;
    font-family: L10;
    font-size: small;
    background-color: white;
}

.hero-txt-mobile{
    display: block;
    color: #333333;
    padding-left: 3rem!important; /* bs: pl-5*/
    padding-top: 1.25rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt-mobile > p { 
    font-size: x-small;
    opacity: 75%;
}

.hero-btn-mobile{
    background-color: #232323;
    color: white;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    font-size: medium;
    font-family: 'L10';
}

/* MEDIA QUERIES: tablets and desktops, less than 1200px */
@media (min-width: 768px) 
{
    .hero-txt{
        display: block;
    } 
    .hero-txt-mobile{
        display: none;
    } 
}

/* MEDIA QUERIES: Desktops 1200px + */
@media (min-width: 1200px) 
{
    #hero-header-txt-tablet-plus{
        font-size: 2.75rem;
    }
    #hero-sub-header-txt-tablet-plus{
        font-size: medium;
    }
    /* .hero-txt{
        display: block;
    } 
    .hero-txt-mobile{
        display: none;
    }  */
}

/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |  MISSION  |     |
    -------------     |
                      |
***********************/

.mission-section{
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    margin-top: 2.5rem!important;

}

.mission-bg{
    position: relative;
    height:                 100%;
    width: 100%;
}
.mission-shape-1{
    position: absolute;
    top: -164px;
    left: -140px;
    width: 395px;
    z-index: -99;
    display: none;
}

.mission-shape-2-tablet-plus{
    display: none;
    position: relative;
    text-align: center;
    padding-top: 3rem;;
}

.mission-shape-2-tablet-plus > img{
    /* img-fluid */
    /* height: 215px;
    width: 40%;
    padding-top: 3rem!important; */
    width: 27rem;
}

.mission-shape-2-mobile{
    position: relative;
    text-align: center;
}

.mission-shape-2-mobile > img{
    /* img-fluid */
    height: 275px;
    transform: rotate(10deg);
}

.mission-txt-tablet-plus{
    display: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -38%);
    width: 50%;
    font-family: L10;
    text-align: center;
}

.mission-txt-tablet-plus > p {
    font-size: small;
    width: 70%;
    line-height: 1.3;
    margin-left: auto!important;
    margin-right: auto!important;


}
/* #mission-title-tablet{
    padding-bottom: 1.25rem!important;
    padding-top: 1.25rem!important;
} */

.mission-txt-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    font-family: L10;
    text-align: center;
}

.mission-title {
    padding-top: 1rem!important;
    padding-bottom: 0.5rem!important;
}

.mission-txt-mobile > p {
    /* font-size: small; */
}

/* MEDIA QUERIES: MISSION SECTION */
@media (min-width: 768px) {
    .mission-shape-1{display: block;}
    .mission-shape-2-tablet-plus{display: block;}
    .mission-shape-2-mobile{display: none;}
    .mission-txt-mobile{display:none;}
    .mission-txt-tablet-plus{display: block;}
}

@media (min-width:1200px){
    .mission-title-tablet-plus{
        padding-bottom: 1.5rem;
    }

    .mission-txt-tablet-plus > p {
        width: 18rem;
    }
}

/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |  PILLARS  |     |
    -------------     |
                      |
***********************/

.pillars-section{
    /* overflow: hidden; */
    position: relative;
    width: 100%;   
    margin-top: 9rem;
}

#pillars-content-tablet-and-smaller{
    display: block;
}

#pillars-content-desktop{
    display: none;
}

.pillars-title{
    position: absolute;
    top: -85px;
    width: 100%;
    text-align: center;
}

.pillars-bg{
    height: auto;
    position: relative;
    background-image: url(assets/images/background/drawable-xhdpi/mission-bg-mobile.png);
    background-position-x: center;
    background-position-y: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*  */


}

/* PILLARS CARDS */
.pillars-cards{
    position: relative;
    /* top: -5%; */
}

/* INDIVIDUAL CARD */
.pillars-card{
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 3rem!important;

    border-radius: 8%;
    border: 0;

    width: 20rem;
    overflow: hidden;
}

.pillars-card-top{
    background-color: #232323;
    height: 10rem;
    position: relative;

    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */

}

/* card icon */
.pillars-card-top > img{
    /* 
        width: 24%;
        height: 150px; 
    */
    width: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.pillars-card-body{
    background-color: #F7E9DD;
    height: 17rem;
    text-align: center;
    position: relative;
}

.pillars-card-body-content{
    position: relative;
    width: 100%;
    height: 100%;
    /* my-5 */
    margin-top: 3rem!important; 
    margin-bottom: 3rem!important;
 
}


.card-title {
    margin-bottom: 1.75rem;
}

/* and (max-width:1119.98px) ?? */
@media (min-width:768px){

    .pillars-section{
        margin-top: 12rem;
    }
    .pillars-bg{
        background-image: url(assets/images/background/drawable-xhdpi/mission-bg.png);
        background-size: 100%;
    }

    #pillars-card2{
        margin-top: 35%;
    }
    .pillars-card{width: 80%}
    .pillars-card-top{height: 6rem;}
    .pillars-card-body{height: auto;}
    /* .pillars-card-body-content{margin-top: 2.25rem!important;} */
    .pillars-card-body-content{
        margin-top: 1rem!important;
        margin-bottom: 1.5rem!important;
    }
    .pillars-card-top > img {width: 50px;}
    .pillars-card-title{font-size: 1rem;}
    .card-title{margin-bottom: 0.5rem;}
    .pillars-card-text{
        font-size: x-small;
        line-height: 1.25;
        /* padding-left: 1.5rem!important; */
        /* padding-right: 1.5rem!important; */
        /* line-break: anywhere; */
    }
    /* "100% Black Leadership" is too long for col, force alignment */
    #pillars-title-blacklead{
        /* white-space: nowrap;
        margin-left: -0.5rem; */
        /* cancel card padding for title */
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }
}
/* END PILLARS SECTION TABLET MEDIA QUERY */


/* PILLARS SECTION DESKTOP MEDIA QUERY */
@media (min-width:1200px){
    #pillars-content-tablet-and-smaller{
        display: none;
    }

    #pillars-content-desktop{
        display: block;
    }

    .pillars-card {
        width: 16rem;
    }
    
    .pillars-card-top {
        height: 7rem;
    }

    .pillars-card-body {
        height: 14rem;
    }
    .card-title{
        padding-top: 1.25rem!important; /* centering text oon card */
    }
    .pillars-card-text{font-size: small;}

    .pillars-bg {
        background-size: 100% 90%;}
}
/* END PILLARS SECTION DESKTOP MEDIA QUERY */







/* @media (min-width:768px){
} */
/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |    TEAM   |     |
    -------------     |
                      |
***********************/

.team-section{
    position: relative;
    height: auto;
}

.team-title{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.team-cards{
    /* background-color: white;
    opacity: 30%; */
    position: relative;
    height: auto;
}


.team-cards-mask{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 30%;
    z-index: -99;
}
.team-bg2{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

}
.team-bg3{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.team-card-container{

    /* px-5
    padding-left: 3rem!important;
    padding-right: 3rem!important; 
    */
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;

    padding-bottom: 1rem!important;
    padding-top: 1rem!important;

}

.team-card{
    background-color: white;
    width: 100%;
    height: 9rem;
    border-radius: 5%;
}

.team-card-picture{
    margin: auto!important;

}
.team-card-text{
    margin-bottom: auto!important;
    margin-top: auto!important;
    padding-bottom: 1.5rem!important;
}

.team-card-name{
    color:#333333;
    font-size: smaller;
}

.team-card-title{
    color: #666666;
    font-size: x-small;
}

/* TEAM: TABLET MEDIA QUERY */
@media (min-width:768px){
    .team-title{
        margin-bottom: 2rem;
    }
  
    .team-cards{
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
    .team-card{
        height: auto;
        padding-top: .75rem!important;
        padding-bottom: .75rem!important;
        padding-left: .25rem!important;
        padding-right: .25rem!important;

    }
    .team-card-title{
        font-size: 7px;
    }
    .team-card-text{
        padding: 0;
    }
    .team-card-name{
        font-size: xx-small;
    }

    .team-bg2, .team-bg2 *{
        display: block;
    }

    .team-bg2 > img {
        width: 26rem;
    }

    .team-bg3, .team-bg3 *{
        display: block;
    }

    .team-bg3 > img {
        position: absolute;
        top: 4.5rem;
        right: 0;
        width: 18rem;

    }

    
    /* .team-cards-mask{
        height: auto;
        position: relative;
        background-image: url(assets/images/background/drawable-xhdpi/mission-bg-mobile.png);
        background-position-x: center;
        background-position-y: 4rem;
        background-repeat: no-repeat;
        background-size: cover;
    } */
}
/* END TEAM TABLET MEDIA QUERIES */

/* TEAM DESKTOP MEDIA QUERIES */
@media (min-width:1200px){
    .team-bg2 > img {
        width: 37rem;
        height: 100%;
    }

    .team-bg3 > img {
        position: absolute;
        top: 6.5rem;
        right: 0;
        /* max-width: 100%; */
        height: 28rem;
        width: 28%;
        height: 71%;
    }
}
/* END TEAM DESKTOP MEDIA QUERIES */

/*  */
/*  */
/*  */

/************************
                         |
    ------------------   |
    | BUSINESS MODEL |   |     
    ------------------   |
                         |
**************************/

.business-model-section{
    position: relative;
    height: auto;
}

.business-model-title{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 100%;
}

@media (min-width:768px){
    .business-model-title {
        margin-top: 5rem;
    }
}
.business-model-infographic-mobile{
    display: block;
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

/* add padding to all img descendants */
.business-model-infographic-mobile img{
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}
.business-model-infographic-tablet{
    display: none;
    padding-left: 6rem!important;
    padding-right: 6rem!important;
    
}

.bm-item *{
    text-align: center;
    /* font-family: L10; */
}
.bm-item-icon{
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}

.bm-item-text > p{
    width: 100%;
}
.bm-item-text > h5{
    width: 100%;
}
.bm-item-text > p{
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}

/* BUSINESS MODEL MEDIA QUERIES */
@media (min-width: 768px) {
    .business-model-infographic-mobile{
        display: none;
    }
    .business-model-infographic-tablet{
        display: block;
    }
}

/*  */
/*  */
/*  */


/************************
                         |
    ------------------   |
    |    COMMUNITY   |   |     
    ------------------   |
                         |
**************************/
 
.community-section{
    position: relative;
    margin-top: 12rem;
}

.community-bg-mask{
    position: absolute;
    top: -5%;
    height: 105%;
    background-color: white;
    opacity: 50%;
    width: 100%;
    /* padding-top: -1.5rem!important; */
}

.community-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    opacity: 50%;
    /* background-image: url('assets/images/background/abstract.png');
    background-size: auto; */
}

.community-bg img {
    width: 100%;
    transform: translate(-50%, 0px);
}

.community-title{
    position: absolute;
    top: -20%;
    width: 100%;
    text-align: center;
    height: 100%;
}

.community-cards{

}

.community-card{
    width: 18rem;
    border-radius: 5%;
    overflow: hidden;
    /* mx-auto */
    margin-left: auto!important;
    margin-right: auto!important;

    margin-bottom: 1.5rem!important;
}

.community-card-top{
    /* background-color: #BAC9BF; */
    height: 9rem;
    text-align: center;

}
.community-card-top > img{
    width: 7rem;
    padding-bottom: .5rem!important;
    padding-top: .5rem!important;
}

.community-card-top#community-getFunded-card{
    background-color: #BAC9BF;
    
}

.community-card-top#community-mentor-card{
    background-color: #232323;  
    /*     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -83%); */
    /*  */
}
.community-card-top#community-mentor-card > img{
    width: 9rem;
}

.community-card-top#community-volunteer-card{
    background-color: #D3AF9A;
}

.community-card-body {
    /* height: 9rem */
    text-align: center;
    padding: 0.5rem;
}

.community-card-body * {
    /* height: 9rem */
    text-align: center;
    margin: 0;
}

/* COMMUNITY MEDIA QUERIES */
@media (min-width:768px){
    .community-card-container{
        padding-left: 0;
        padding-right: 0;
    ```
    }
    
    .community-title{
        top: -35%;
    }

    .community-cards{
        padding-top: 1rem!important;
        padding-bottom: 4rem!important;
    }

    .community-cards-container{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
    }

    .community-card{
        width: 100%;
        border-radius: 15%;
    }

    .community-card-top > img {
        /* width: 6rem; */
    }

    .community-card-body *{
        font-size: 1.25rem;
    }
    .community-bg{
        top: 25%;
    }
    .community-bg > img{
        width: 20rem;
    }
}
/* END COMMUNITY MEDIA QUERIES */

/*  */
/*  */
/*  */


/************************
                         |
    ------------------   |
    |      FOOTER    |   |     
    ------------------   |
                         |
**************************/

.wfi-footer-mobile{
    position: relative;
    display: block;
    /* height: 55vh; */

    background-color: white;
    color: #333333;
    /* font-size: smaller; */
}   

.wfi-footer-tablet{
    position: relative;
    display: none;
    padding-left: 3rem!important;
    padding-right: 3rem!important;

}

.footer-row1{
    margin-top: 3rem!important;
    margin-bottom: 1.5rem!important;
}

ul.footer-list{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-bottom: -0.5rem;
}

ul.footer-list > li{
    margin-bottom: 0.5rem  ;
}

.footer-list a {
    text-decoration: none;
    color: #333333;
}

.footer-socials-col{
    margin-top: auto!important;
}

.footer-newsletter{
    margin-top: 1.25rem;
    padding-left: 30px;
    padding-right: 30px;
}

.form-group#footer-email{
    margin-top: .5rem!important;
    border: 2px solid black ;
}

.footer-copyright{
    padding-left: 30px;
    padding-right: 30px;
}

.lenz-signature{
    font-size: x-small;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;

}

.lenz-signature *{
    margin:0;
    text-decoration: none;
    color: #333333;
}

/* FOOTER MEDIA QUERY */
@media (min-width:768px){
    .wfi-footer-mobile{
        display: none;
    }
    
    .wfi-footer-tablet{
        display: block;
        background-color: white;
        font-size: x-small;
    }
    
    .footer-row1{
        margin-top: 2rem!important;
    }

    ul.footer-list > li {
        margin-bottom: 0.1rem;
    }

    .footer-copyright{
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem!important;
    }

    #copyright{
        margin-top: 2rem;
        margin-bottom: 0.25rem;
    }

    .lenz-signature{
        text-align: start;
    }

    .footer-social-icon{
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }

    .footer-socials-container{
        padding-top: 1.5rem!important;
    }

}

/* .mission-shape-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

/* tablets and desktops, less than 1200px */
/* @media (min-width: 768px) and (max-width: 1199.98px) 
{  */
    /* show bg  */
    /* .mission-bg{ display: block; } 
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

