
/*********************
                     |
    ------------     |
    |   FONT   |     |
    ------------     |
                     |
*********************/

@font-face {
    font-family: cooperBlack;
    src: url(assets/font/CooperBlack/Cooper_Black_Regular.ttf);
}

@font-face {
    font-family: L10;
    src: url(assets/font/L10/L10_Regular.ttf);
}




html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F7E9DD;
}





/*********************
                     |
    ------------     |
    |   NAV    |     |
    ------------     |
                     |
*********************/
/* smaller nav bar text and add padding on tablets + */
@media (min-width: 768px) {
    .wfi-menu-items{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: small;
    }   
}
.donate-button {
    font-family: L10;
    font-size: small;
    width: 128px;
    background-color: black;
    color: white;
}





/*********************
                     |
    ------------     |
    |   HERO   |     |
    ------------     |
                     |
*********************/
.hero-section{
    /* height: auto; */
    width: 100%;
    position: relative;
}

.hero-bg{
    width: 100%;
    height: auto;
    z-index: -99;
    /* background-image: url('assets/images/background/drawable-xxhdpi/bg.png');     */
    
}

.hero-txt{
    display: none;
    color: white;
    position: absolute;
    top: 20%; /* from top of image */
    padding-left: 3rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt > p { 
    font-size: small;
    opacity: 75%;
}

.hero-btn{
    color: black;
    font-family: L10;
    font-size: small;
    background-color: white;
}

.hero-txt-mobile{
    display: block;
    color: #333333;
    padding-left: 3rem!important; /* bs: pl-5*/
    padding-top: 3rem!important; /* bs: pl-5*/
    font-family: L10;
}

/* Fund black dreams for $5 a month */
.hero-txt-mobile > p { 
    font-size: x-small;
    opacity: 75%;
}

.hero-btn-mobile{
    background-color: #232323;
    color: white;
    font-size: small;
}

/* MEDIA QUERIES: tablets and desktops, less than 1200px */
@media (min-width: 768px) 
{
    .hero-txt{
        display: block;
    } 
    .hero-txt-mobile{
        display: none;
    } 
}

/*  */
/*  */
/*  */

/**********************
                      |
    -------------     |
    |  MISSION  |     |
    -------------     |
                      |
***********************/

.mission-section{
    /* overflow: hidden; */
    position: relative;
    width: 100%;

}

.mission-bg{
    position: relative;
    height: 100%;
    width: 100%;
}
.mission-shape-1{
    position: absolute;
    top: -164px;
    left: -140px;
    width: 395px;
    z-index: -99;
    display: none;
}

.mission-shape-2{
    position: relative;
    text-align: center;
    display: none;
}

.mission-shape-2 > img{
    /* img-fluid */
    height: 215px;
    width: 55%;
}

.mission-shape-2-mobile{
    position: relative;
    text-align: center;
}

.mission-shape-2-mobile > img{
    /* img-fluid */
    height: 275px;
    transform: rotate(10deg);
}


.mission-txt-tablet{
    display: none;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: L10;
    text-align: center;
}

.mission-txt-tablet > p {
    font-size: small;
    width: 70%;
}

.mission-txt-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    font-family: L10;
    text-align: center;
}

.mission-txt-mobile > p {
    font-size: small;
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
    .mission-shape-1{display: block;}
    .mission-shape-2{display: block;}
    .mission-shape-2-mobile{display: none;}

    .mission-txt-mobile{display:none;}
    .mission-txt-tablet{display: block;}
}

/* .mission-shape-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

/* @media (min-width: 768px) and (max-width: 991.98px) { ... } */
/* .mission-bg{ */
    /* display: none; */
    /* width: 100vw; */
    /* height: auto; */
    /* height: 100vh; */
    /* background-attachment: scroll; */
    /* background-color: transparent; */
    /* background-image: url('assets/images/background/drawable-xhdpi/outBg.png'); */
    /* background-position: center; */
    /* background-position-x: center; */
    /* background-position-y: 38%; */
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
/* }  */

/* tablets and desktops, less than 1200px */
/* @media (min-width: 768px) and (max-width: 1199.98px) 
{  */
    /* show bg  */
    /* .mission-bg{ display: block; } 
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

