/* FONT */
@font-face {
    font-family: cooperBlack;
    src: url(assets/font/CooperBlack/Cooper_Black_Regular.ttf);
}

@font-face {
    font-family: L10;
    src: url(assets/font/L10/L10_Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/* CONTAINER CLASS FOR WHOLE PAGE */
.weFundedIt {
    /* height: ; */
    /* width: ; */

    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    /* Container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*********************
                     |
    ------------     |
    |   HOME   |     |
    ------------     |
                     |
*********************/

/* HOME SECTION CONTAINER */
.wfi-home-section {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f7e9dd;
    height: 100vh;

    /* container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /**/

}

/****************************
                            |
    -------------------     |
    | HOME > NAV BAR  |     |
    -------------------     |
                            |
*****************************/



/* Screens smaller than 1024px width */
@media (max-width: 992px){
    /* nav bar */
    #navbarSupportedContent{
        padding-left: 48px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .wfi-logo{
        padding-left: 48px;
    }

    .wfi-donate-button{
        margin-top: 10px!important;
    }
}



.wfi-nav {
    z-index: 99;
    
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 6vh; /* mobile */ 
    background-color: #f7e9dd;

    /* container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /**/
}

.wfi-logo {
    padding-left: 48px;
}

.wfi-donate-button {
    font-family: L10;
    font-size: small;
    width: 128px;
    background-color: black;
    color: white;
}



/****************************
                            |
    -------------------     |
    | HOME > BG IMAGE  |    |
    -------------------     |
                            |
*****************************/




/* HOME BACKGROUND CONTAINER */
.wfi-hero-bg { 
    position: absolute;
    /* mobile */ 
    top: 6vh; /* mobile */
    left: 0px;
    width: 100%;
    height: 30vh; /* mobile */

    /* @media (max-width: 992px){
        
    } */
    


}



/* HOME BACKGROUND IMAGE */
.wfi-hero-bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30vh; /* mobile */

    background-color: transparent;
    background-image: url('assets/images/background/bgImage.png');
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 38%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HOME BACKGROUND GRADIENT */
.wfi-hero-bg-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30vh; /* mobile */
    opacity: 35%;
    background-color: black;
}

/* HOME TEXT */

/* mobile */
.wfi-home-text-mobile{
    position: absolute;
    top: 40vh;
    left: 0px;
    width: 100%;
    padding-left: 24px;
}

.wfi-home-text-mobile > h1 {
    font-family: cooperBlack;
    font-size: x-large;
    color: #333333;

}

.wfi-home-text-mobile > p {
    font-family: L10;
    font-size: small;
    color: #6a6562;
}

.wfi-home-text-mobile > button {
    font-family: L10;
    font-size: small;
    background-color: #232323;
    color: white;
}
/* desktop */
.wfi-home-text{
    position: absolute;
    top: 15vh;
    left: 0px;
    width: 100%;
    /* height: 85vh; */
}


/**********************
                      |
    -------------     |
    |  MISSION  |     |
    -------------     |
                      |
***********************/

.wfi-mission-section{
    /* z-index: -2; */
    position: absolute;
    top: 65vh;
    left: 0px;
    background-color: #f7e9dd;
    height: 100vh; /* smaller? */
    
    /* container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /**/

}


.wfi-mission-bg-rect{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30vh;


    background-image: url('assets/images/background/drawable-xhdpi/mission-bg-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 80%;
    height: 30vh;
    margin-left: 10%;
}


.wfi-mission-text{
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    height: 30vh;
}

.wfi-mission-text > * h1 {
    font-family: cooperBlack;
    font-size: x-large;
    text-align: center;
    padding-bottom: 8px;
}

.wfi-mission-text > * p { 
    font-family: L10;
    text-align: center;
}