/* FONT */
@font-face {
    font-family: cooperBlack;
    src: url(assets/font/CooperBlack/Cooper_Black_Regular.ttf);
}

@font-face {
    font-family: L10;
    src: url(assets/font/L10/L10_Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/* CONTAINER CLASS FOR WHOLE PAGE */
.weFundedIt {
    /* height: ; */
    /* width: ; */

    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    /* Container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*********************
                     |
    ------------     |
    |   HOME   |     |
    ------------     |
                     |
*********************/

/* HOME SECTION CONTAINER */
.wfi-home-section {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    /* height: ; */

    /* container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /**/

}

/****************************
                            |
    -------------------     |
    | HOME > NAV BAR  |     |
    -------------------     |
                            |
*****************************/



/* Screens smaller than 1024px width */
@media (max-width: 992px){
    /* nav bar */
    #navbarSupportedContent{
        padding-left: 48px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .wfi-logo{
        padding-left: 48px;
    }

    .wfi-donate-button{
        margin-top: 10px!important;
    }
}



.wfi-nav {
    z-index: 99;
    
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 15vh;
    background-color: #f7e9dd;

    /* container-fluid */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /**/
}

.wfi-logo {
    padding-left: 48px;
}

.wfi-donate-button {
    font-family: L10;
    font-size: small;
    width: 128px;
    background-color: black;
    color: white;
}



/****************************
                            |
    -------------------     |
    | HOME > BG IMAGE  |    |
    -------------------     |
                            |
*****************************/




/* HOME BACKGROUND CONTAINER */
.wfi-hero-bg { 
    position: absolute;
    top: 15vh;
    left: 0px;
    width: 100%;
    height: 85vh;
}



/* HOME BACKGROUND IMAGE */
.wfi-hero-bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 85vh;

    background-color: transparent;
    background-image: url('assets/images/background/bgImage.png');
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 38%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HOME BACKGROUND GRADIENT */
.wfi-hero-bg-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 85vh;
    opacity: 35%;
    background-color: black;
}

.wfi-home-text{
    position: absolute;
    top: 15vh;
    left: 0px;
    width: 100%;
    /* height: 85vh; */
}


